/*  your css code here. If applicable */
.box {
  background-color: lightblue;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
/*   flex-wrap:column;	 */
  justify-content: center;
  align-items: center;
	
}

.box p {
  text-align: center;
}